# Results

In [53]:
import os
import pandas as pd

import utils.text_processing as tp
%store -r results_leet
%store -r results_typo
%store -r results_punctuation

In [54]:
results = [results_leet, results_typo, results_punctuation]
result = pd.concat(results, axis=1)
result

,0,0,0
Perturbation Method,leet speak,typos,punctuation
Tokenizer,nlptown/bert-base-multilingual-uncased-sentiment,nlptown/bert-base-multilingual-uncased-sentiment,nlptown/bert-base-multilingual-uncased-sentiment
Model,nlptown/bert-base-multilingual-uncased-sentiment,nlptown/bert-base-multilingual-uncased-sentiment,nlptown/bert-base-multilingual-uncased-sentiment
Dataset,TripAdvisor Hotel Reviews,TripAdvisor Hotel Reviews,TripAdvisor Hotel Reviews
Output lables,Range from 0 to 4 - 0 = NEG; 4 = POS,Range from 0 to 4 - 0 = NEG; 4 = POS,Range from 0 to 4 - 0 = NEG; 4 = POS
Items in original dataset,435,435,435
Items in adversarial dataset,183,330,56
Percentage,42.069,75.8621,12.8736

# Vizualization of results [coming soon]

In [17]:
original_predictions = 2
modified_predictions = [4, 2, 2, 1]

In [20]:
rel_discr_items = []
for i, item in enumerate(modified_predictions):
    rel_discr_item = abs(original_predictions - modified_predictions[i])
    rel_discr_items.append(rel_discr_item)

rel_discr = sum(rel_discr_items)/len(rel_discr_items)

In [21]:
rel_discr

0.75

## Notes
histogram mit der Änderungsstärke

mit häufigkeitshistogram

hischreiben, dass ich von 4 um 4 springen kann auf 0
von 3 jedoch nur 1 

heatmap


dataloader:
    beautiful soup
    libxml
    
    https://stackoverflow.com/questions/28259301/how-to-convert-an-xml-file-to-nice-pandas-dataframe